<div class="containar">
  
  <div class="row">
    
    <div class="col-3"></div>
      
     <div class="col-6"> 
     
        <h1>Welcome to <i class="fa-solid fa-book"></i><span class="font-weight-bold">Bookers !!</span></h1>
    
        <p>In <i class="fa-solid fa-book"></i><span class="font-weight-bold">Bookers</span>,<br>
            
         you can share and exchange your opinions, impressions, and emotions<br>
              
         about various books
              
        </p>
      
        <div><%= link_to "Log in", user_session_path, class: "btn btn-primary px-5 btn-custom" %></div>
          
         
        <div><%= link_to "Sign up",new_user_registration_path, class: "btn btn-success px-5 btn-custom" %></div>
          
     </div>


  </div>

</div>